<%- include('partials/header') %>

<div class="jumbotron text-center">

    <div class="container">

        <i class="fas fa-university fa-6x"></i>
        <h1 class="display-3">Timetable</h1>
        <hr>
        <a class="btn btn-light btn-lg" href="/" role="button">Log Out</a>
        <a class="fas fa-backward" href="/dashboard" role="button">Go Back</a>
    </div>

<br><br>

<table class="table">
  <thead>
    <tr>
      <td></td>
      <th>SLOT-1 (09:00 AM-11:00 AM)</th>
      <th>SLOT-2 (11:10 AM-13:10 PM)</th>
      <th>SLOT-3 (15:00 PM-17:00 PM)</th>
      <th>SLOT-4 (17:00 PM-19:00 PM)</th>
    </tr>
  </thead>
  <% data.forEach(function(row) { %>

  <tr>
    <th scope="row">MONDAY</th>
    <td><%= row.day[0][0] %></td>
    <td><%= row.day[0][1] %></td>
    <td><%= row.day[0][2] %></td>
    <td><%= row.day[0][3] %></td>
  </tr>
  <tr>
      <th scope="row">TUESDAY</th>
      <td><%= row.day[1][0] %></td>
      <td><%= row.day[1][1] %></td>
      <td><%= row.day[1][2] %></td>
      <td><%= row.day[1][3] %></td>
   </tr>    
   <tr>
    <th scope="row">WEDNESDAY</th>
    <td><%= row.day[2][0] %></td>
    <td><%= row.day[2][1] %></td>
    <td><%= row.day[2][2] %></td>
    <td><%= row.day[2][3] %></td>
  </tr>

  <tr>
    <th scope="row">THURSDAY</th>
    <td><%= row.day[3][0] %></td>
    <td><%= row.day[3][1] %></td>
    <td><%= row.day[3][2] %></td>
    <td><%= row.day[3][3] %></td>
  </tr>

  <tr>
    <th scope="row">FRIDAY</th>
    <td><%= row.day[4][0] %></td>
    <td><%= row.day[4][1] %></td>
    <td><%= row.day[4][2] %></td>
    <td><%= row.day[4][3] %></td>
  </tr>

  <tr>
    <th scope="row">SATURDAY</th>
    <td><%= row.day[5][0] %></td>
    <td><%= row.day[5][1] %></td>
    <td><%= row.day[5][2] %></td>
    <td><%= row.day[5][3] %></td>
  </tr>
   <% }) %>

</table>
</div>
<%- include('partials/footer') %>
